.contenedorLogin{
    width: 100%; /* 100% del ancho de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contenedorForm{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.LogoLogin{ 
    display: flex;
    align-items:center;
    width: 30%;
    padding: auto;
}

.BannerLogin{
    display: flex;
    width: 100vh;
    height: 100vh;
    
}

@media (max-width: 768px) {
    .contenedorForm{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem;
    }
    .LogoLogin{ 
        width: 50%;
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center;     /* Centra verticalmente */
        margin: 0 auto;  
    }

    .contenedorBannerLogin{
        display: none;
    }
}

