.contenedorHome{
    background-image: url(../../../public/assets/img/imgHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw; /* 100% del ancho de la ventana */
    height: 100vh; /* 100% del alto de la ventana */
    display: flex;
    flex-direction: column;
    align-items: left;

}

.textHome{
    color: aliceblue;
    padding: 5rem;
    width: 65%;
}
.textHome h2{
    color: aliceblue;
    font-size: 4rem;

}
.textHome p{
    color: aliceblue;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .contenedorHome{
        width: 100vw; /* 100% del ancho de la ventana */
        height: 100vh; /* 100% del alto de la ventana */
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    .textHome{
        padding: 2rem;
    }

    .textHome h2{
        font-size: 2.5rem;
    
    }
    .textHome p{
        font-size: 1.2rem;
    }

}