.contenedorHome{
    background-image: url(../../../public/assets/img/imgHome.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%; /* 100% del ancho de la ventana */
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100vh; /* <- Esta línea es clave */

}

.textHome{
    color: aliceblue;
    padding: 5rem;
    width: 65%;
}
.textHome h2{
    color: aliceblue;
    font-size: 4rem;

}

@media (max-width: 768px) {
    .contenedorHome{
        width: 100vw; /* 100% del ancho de la ventana */
        height: 100vh; /* 100% del alto de la ventana */
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    .textHome h1{
        width: 100%; /* 100% del ancho de la ventana */
        font-size: 2.5rem;
        padding: 1rem;
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center;  
    }
}
