.contenerdoPtablas{
    padding: 3rem;
    display: flex;
    flex-direction: column;
} 

.bt-Volver{
    width: 30%;
} 

@media (max-width: 768px) {
    .contenerdoPtablas{
        padding: 3rem;
        display: flex;
    } 

}